@import url('https://fonts.googleapis.com/css?family=Roboto|Orbitron|Roboto+Slab&display=swap')

$bg: #BDBDBD
$bgDark: darken($bg, 5%)
$bgLight: lighten($bg, 15%)
  
*
  user-select: none

  
.tile  
  // padding: 20px
  background: $bgDark
  border: 1px black solid
  width: 5.3vh
  height: 5.3vh
  display: inline
  text-align: center
  // margin: 3px 

.tile-mined   
  background: $bgLight

.flag 
  padding: 0
  pointer-events: none

.number, .flag
    height: 100%
    display: inline-block
    vertical-align: top
    margin: 1vh 0
    // font-family: "Roboto Slab"
    // font-weight: 900
    // font-size: 16px

.number, .tile 
    font-family: "Roboto Slab"
    font-weight: 900
    font-size: 16px

.row
  display: flex 
  width: fit-content
  align-items: center
  align-content: center


#game, .row, #minesweeper 
  width: fit-content

#game, .restart-inner > p
  margin: auto 0
  padding: 0

  // *
  //   color: white
  //   margin: 10px

#controls 
  display: flex
  height: 8.3vh
  background: gray
  width: 100%
  padding: 5px 0px

  * 
    margin: auto 
    font-family: "Roboto Slab"
    color: white


.timer 
  background: black 
  padding: 5px 0
  width: 7vw
  border-radius: 10px

  .timer-inner 
    margin: auto
    width: fit-content

    .minutes, .seconds
      color: #0dff86 !important

.highlight 
  background: $bgLight !important
  
