*
  user-select: none

  
.tile  
  // padding: 20px
  background: #808080
  border: 1px black solid
  width: 8.3vh
  height: 8.3vh
  display: inline
  text-align: center
  // margin: 3px 

.tile-mined   
  background: #c0c0c0

.flag 
  padding: 0
  pointer-events: none

.number
  height: 100%
  display: inline-block
  vertical-align: middle

.row
  display: flex 
  align-items: center
  align-content: center


#game, .restart-inner > p
  margin: auto 0
  padding: 0
  width: auto

  #controls 
    display: flex
    width: calc(8.4vh*8 + 11px)
    height: 8.3vh
    background: gray

    *
      color: white
      margin: 10px